.main-body{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/142/751/831/landscape-anime-digital-art-fantasy-art-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}